In [1]:
import os
import pandas as pd

filename = 'HydraData.csv'
path_abs = os.path.abspath('.') #absolute path of current folder about this .ipynb
path_file = os.path.join(path_abs,filename)

df = pd.read_csv(path_file)

pd.set_option('max_rows',10) #show head(5) + tail(5)
#pd.reset_option('max_rows') #reset

df

,PT,S1 XCoordinate Die:Col_X,S1 YCoordinate Die:Row_Y,OCD_METAL_LINE_MID_BOX04 DF
0,Point 1,-2,0,95.8424
1,Point 2,-2,3,99.6048
2,Point 3,6,0,97.7349
3,Point 4,-2,-3,100.1120
4,Point 5,6,3,98.8989
...,...,...,...,...
93,Point 94,-34,6,123.3830
94,Point 95,-23,-14,123.0070
95,Point 96,-34,-6,133.8490
96,Point 97,-15,-17,130.1690
97,Point 98,-10,-18,131.8310

In [2]:
col_x = df.iloc[:,1]
row_y = df.iloc[:,2]

In [3]:
df_NN = df.loc[(col_x < 0) & (row_y < 0)]
df_NN.iloc[:,[0,3,1,2]]

,PT,OCD_METAL_LINE_MID_BOX04 DF,S1 XCoordinate Die:Col_X,S1 YCoordinate Die:Row_Y
3,Point 4,100.1120,-2,-3
10,Point 11,99.1217,-10,-3
11,Point 12,101.1370,-2,-6
17,Point 18,98.9569,-10,-6
21,Point 22,99.9450,-2,-9
...,...,...,...,...
90,Point 91,118.1120,-26,-12
94,Point 95,123.0070,-23,-14
95,Point 96,133.8490,-34,-6
96,Point 97,130.1690,-15,-17
97,Point 98,131.8310,-10,-18

In [4]:
df_NP = df.loc[(col_x < 0) & ~(row_y < 0)]
df_NP.iloc[:,[0,3,1,2]]

,PT,OCD_METAL_LINE_MID_BOX04 DF,S1 XCoordinate Die:Col_X,S1 YCoordinate Die:Row_Y
0,Point 1,95.8424,-2,0
1,Point 2,99.6048,-2,3
6,Point 7,99.2271,-10,0
7,Point 8,99.7465,-2,6
8,Point 9,101.3730,-10,3
...,...,...,...,...
78,Point 79,116.2660,-26,12
80,Point 81,115.4210,-34,0
82,Point 83,117.4760,-34,3
83,Point 84,116.6190,-10,18
93,Point 94,123.3830,-34,6

In [5]:
df_PN = df.loc[~(col_x < 0) & (row_y < 0)]
df_PN.iloc[:,[0,3,1,2]]

,PT,OCD_METAL_LINE_MID_BOX04 DF,S1 XCoordinate Die:Col_X,S1 YCoordinate Die:Row_Y
5,Point 6,100.6460,6,-3
12,Point 13,100.5000,6,-6
16,Point 17,99.3420,14,-3
23,Point 24,99.6981,14,-6
25,Point 26,100.8180,6,-9
...,...,...,...,...
70,Point 71,111.9150,22,-12
72,Point 73,114.2490,14,-15
84,Point 85,109.8250,33,-5
88,Point 89,114.3720,30,-9
92,Point 93,120.7510,6,-18

In [6]:
df_PP = df.loc[~(col_x < 0) & ~(row_y < 0)]
df_PP.iloc[:,[0,3,1,2]]

,PT,OCD_METAL_LINE_MID_BOX04 DF,S1 XCoordinate Die:Col_X,S1 YCoordinate Die:Row_Y
2,Point 3,97.7349,6,0
4,Point 5,98.8989,6,3
9,Point 10,99.3154,6,6
13,Point 14,100.5800,14,0
15,Point 16,98.3646,14,3
...,...,...,...,...
76,Point 77,110.7820,6,18
77,Point 78,106.6140,33,4
79,Point 80,106.5800,30,9
89,Point 90,114.0830,22,15
91,Point 92,110.1950,35,2